body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main_content{
    margin: 30px;
    height: auto;
    font-size: 20px;
}
.content{
    color: black;
    font-weight: 100;
    /*text-align: center;*/
    text-indent: 40px;
}